<div class="section">
  <div class="carousel-container">
    <div
      id="carouselControls"
      class="carousel slide container"
      data-bs-ride="carousel"
      data-bs-interval="0"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carrousel-items">
            <div class="carousel-item-left">
              <p class="title">
                Let the right people know <br />
                you’re open to work
              </p>
              <p class="content">
                With the Open To Work feature, you can privately tell recruiters
                or publicly share with the LinkedIn community that you are
                looking for new job opportunities.
              </p>
            </div>
            <div class="carousel-item-right">
              <img
                src="https://static.licdn.com/aero-v1/sc/h/dbvmk0tsk0o0hd59fi64z3own"
                class="d-block w-100"
                alt="img"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carrousel-items">
            <div class="carousel-item-left">
              <p class="title">
                Conversations today could lead to opportunity tomorrow
              </p>
              <p class="content">
                Sending messages to people you know is a great way to strengthen
                relationships as you take the next step in your career.
              </p>
            </div>
            <div class="carousel-item-right">
              <img
                src="https://static.licdn.com/aero-v1/sc/h/2r8kd5zqpi905lkzsshdlvvn5"
                class="d-block w-100"
                alt="img"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carrousel-items">
            <div class="carousel-item-left">
              <p class="title">Stay up to date on your indusrty</p>
              <p class="content">
                From live videos, to stories, to newsletters and more, LinkedIn
                is full of ways to stay up to date on the latest discussions in
                your industry.
              </p>
            </div>
            <div class="carousel-item-right">
              <img
                src="https://static.licdn.com/aero-v1/sc/h/ann24vsq7r0ux3vipqa1n90gg"
                class="d-block w-100"
                alt="img"
              />
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
