<div class="welcome">
  <div class="welcome-right">
    <h1>Welcome to your <br />professional community</h1>
    <div class="form_register mt-5">
      <div class="form_register--email w-100">
        <label for="" class="form-label"> Email or phone</label>
        <div class="input-group">
          <input type="text" />
        </div>
      </div>
      <div class="form_register--password">
        <label for="" class="form-label">Password</label>
        <div class="input-group">
          <input type="password" />
        </div>
      </div>
      <div class="py-4">
        <span class="forgot">Forgot password?</span>
      </div>
      <button class="button-signIn">Sign In</button>
      <div class="devider mt-3">
        <p>or</p>
      </div>
      <div class="term">
        By clicking Continue, you agree to LinkedIn’s
        <span><a href="">User Agreement, Privacy Policy</a> </span>, and
        <span><a href="">Cookie Policy.</a></span>
      </div>
    </div>
  </div>
  <div class="welcome-left">
    <img
      src="https://static.licdn.com/aero-v1/sc/h/dxf91zhqd2z6b0bwg85ktm5s4"
      alt="welcome-logo"
    />
  </div>
</div>
