<div class="header container">
  <div class="header_right">
    <mat-icon class="header_right--logo" svgIcon="logo"></mat-icon>
  </div>
  <div class="header_left">
    <div class="header_left--items">
      <ul class="header_left--items--list">
        <li>
          <a href="">
            <mat-icon class="mat-icon-logo" svgIcon="article-icon"></mat-icon>
            Articles
          </a>
        </li>
        <li>
          <a href="">
            <mat-icon
              class="mat-icon-rtl-mirror"
              svgIcon="people-icon"
            ></mat-icon>
            People
          </a>
        </li>
        <li>
          <a href="">
            <mat-icon
              class="mat-icon-rtl-mirror"
              svgIcon="play-icon"
            ></mat-icon>
            Learning
          </a>
        </li>
        <li>
          <a href="">
            <mat-icon class="mat-icon-rtl-mirror" svgIcon="job-icon"></mat-icon>
            Jobs
          </a>
        </li>
        <li>
          <a href="" class="devider">
            <mat-icon class="mat-icon-rtl-mirror" svgIcon="app-icon"></mat-icon>
            Get the app
          </a>
        </li>
        <li>
          <button class="join-now">Join Now</button>
        </li>
        <li>
          <button class="sign-in">Sign In</button>
        </li>
      </ul>
    </div>
  </div>
</div>
