<div class="">
  <div class="selection mb-5">
    <div class="selection_left">
      <p class="selection_left--title">
        Explore <br />collaborative<br />
        articles
      </p>
      <p class="selection_left--content">
        We’re unlocking community knowledge in a new way. Experts add insights
        directly into each article, started with the help of AI.
      </p>
    </div>
    <div class="selection_right">
      <ul class="selection_right--list">
        <li>
          <a href="">Marketing</a>
        </li>
        <li>
          <a href="">Public Adminstration</a>
        </li>
        <li>
          <a href="">Healthcare</a>
        </li>
        <li>
          <a href="">Engineering</a>
        </li>
        <li>
          <a href="">IT Services</a>
        </li>
        <li>
          <a href="">Sustainability</a>
        </li>
        <li>
          <a href="">Business Adminstration</a>
        </li>
        <li>
          <a href="">TeleComunications</a>
        </li>
        <li>
          <a href="">HR Management</a>
        </li>
        <li class="showAll">
          <a href="">Show all</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="selection">
    <div class="selection_left">
      <p class="selection_left--title">
        Find the right job or internship for you
      </p>
    </div>
    <div class="selection_right">
      <ul class="selection_right--list">
        <p class="header">SUGGESTED SEARCHES</p>
        <ng-container *ngFor="let item of items; let i = index">
          <li *ngIf="!showMore || i < showCount">
            <a href="">{{ item }}</a>
          </li>
        </ng-container>
        <li class="showAll" *ngIf="showMore">
          <button (click)="toggleShowMore()">Show more</button>
          <mat-icon svgIcon="up-icon"></mat-icon>
        </li>
        <li class="showAll" *ngIf="!showMore && items.length > showCount">
          <button (click)="toggleShowMore()">Show less</button>
          <mat-icon svgIcon="down-icon"></mat-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
