.postJob{
  background-color: var(--color-background-cream);
  width: 100vw;
  left: calc(-50vw + 50%);
  position: relative;
  padding: 40px 0;
  .postJob-content{
    display: flex;
    gap: 20px;
    align-items: center;
    .postJob-content-title{
      width: 40%;
      font-size: 40px;
      font-weight: 400;
      color: #b24020;
    }
    .postJob-content-button{
      width: 60%;
      margin-left: 50px;
      button{
        color: var(--color-button-primary);
        border: 1px solid var(--color-button-primary);
        padding: 12px 24px;
        border-radius: 24px;
        font-weight: 500;
        &:hover{
          background-color: #d2e3fc;
        }
      }
    }
  }
}