<div class="connect my-5">
  <div class="connect_left">
    <img
      src="../../../assets/images/connect-left.svg"
      alt="img"
      class="connect_left-img"
    />
    <p class="connect_left-title">
      Connect with people <br />
      who can help
    </p>
    <button>Find people you know</button>
  </div>
  <div class="connect_right">
    <img
      src="../../../assets/images/connect-right.svg"
      alt="img"
      class="connect_right-img"
    />
    <p class="connect_right-title">
      Learn the skills you <br />
      need to succeed
    </p>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Choose a topic to learn about
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" href="#"
            >Business Analysis and Strategy
            <span class="dropdown-item-course">1,260+ course</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Career Development
            <span class="dropdown-item-course">560+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Customer Service
            <span class="dropdown-item-course">210+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Diversity, Equity, and Inclusion (DEI)
            <span class="dropdown-item-course">270+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Finance and Accounting
            <span class="dropdown-item-course">300+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Human Resources
            <span class="dropdown-item-course">470+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Leadership and Management
            <span class="dropdown-item-course">1,680+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Marketing
            <span class="dropdown-item-course">920+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Professional Development
            <span class="dropdown-item-course">1,600+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Project Management
            <span class="dropdown-item-course">480+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Sales
            <span class="dropdown-item-course">290+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Small Business and Entrepreneurship
            <span class="dropdown-item-course">340+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Business Analysis and Strategy
            <span class="dropdown-item-course">1,260+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Business Software and Tools
            <span class="dropdown-item-course">210+ courses</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#"
            >Web Developmentv
            <span class="dropdown-item-course">1,700+ courses</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
