<footer>
  <div class="main_footer container">
    <div class="main_footer--logo">
      <mat-icon svgIcon="logo"></mat-icon>
    </div>
    <div class="main_footer--item">
      <p>General</p>
      <ul>
        <li><a href="">Sign Up</a></li>
        <li><a href="">Help Center</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Press</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Carers</a></li>
        <li><a href="">Developers</a></li>
      </ul>
    </div>
    <div class="main_footer--item">
      <p>Browser LinkedIn</p>
      <ul>
        <li><a href="">Learning</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Salary</a></li>
        <li><a href="">Mobile</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Top Companies Hub</a></li>
      </ul>
    </div>
    <div class="main_footer--item">
      <p>Business Solution</p>
      <ul>
        <li><a href="">Talent</a></li>
        <li><a href="">Marketing</a></li>
        <li><a href="">Sales</a></li>
        <li><a href="">Learning</a></li>
      </ul>
    </div>
    <div class="main_footer--item">
      <p>Directories</p>
      <ul>
        <li><a href="">Member</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Companies</a></li>
        <li><a href="">Feature</a></li>
        <li><a href="">Learning</a></li>
        <li><a href="">Posts</a></li>
        <li><a href="">Articles</a></li>
        <li><a href="">Schools</a></li>
        <li><a href="">News</a></li>
        <li><a href="">News Letters</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Advice</a></li>
        <li><a href="">People Search</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="sub_footer container">
  <ul class="sub_footer--items">
    <li class="d-flex align-items-center gap-2">
      <mat-icon svgIcon="logo" class="icon"></mat-icon>
      <span>© 2024</span>
    </li>
    <li><a href="">About</a></li>
    <li><a href="">Accessibility</a></li>
    <li><a href="">User Agreement</a></li>
    <li><a href="">Privacy Policy</a></li>
    <li><a href="">Cookie Policy </a></li>
    <li><a href="">Copyright Policy</a></li>
    <li><a href="">Brand Policy</a></li>
    <li><a href="">Guest Controls </a></li>
    <li><a href="">Community Guidelines</a></li>
    <li class="d-flex flex-row gap-1 align-items-center">
      <p class="m-0">Languages</p>
      <mat-icon svgIcon="down-icon" class="down-icon"></mat-icon>
    </li>
  </ul>
</div>
