<div class="colleagues my-3">
  <div class="colleagues-main">
    <div class="colleagues_left">
      <div class="content">
        <p class="title">Who is LinkedIn for?</p>
        <p class="subtitle">
          Anyone looking to navigate <br />
          their professional life.
        </p>
        <div class="button1">
          <button class="btn1">
            Find a coworker or classmate
            <img
              src=".../../../../../assets/images/right-icon.svg"
              alt="icon"
            />
          </button>
          <button class="btn1 my-3">
            Find a new job
            <img
              src=".../../../../../assets/images/right-icon.svg"
              alt="icon"
            />
          </button>
          <button class="btn1">
            Find a course or training
            <img
              src=".../../../../../assets/images/right-icon.svg"
              alt="icon"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="colleagues_right">
      <img
        src="https://static.licdn.com/aero-v1/sc/h/292yd0en6qdvkbezeuj71yu4y"
        alt="img"
      />
    </div>
  </div>
</div>
