:root{
  --color-button-primary:#0a66c2;
  --color-button-primary-hover:rgba(112,181,249,0.1);
  --color-dark:#000;
  --color-button-gray-hover:rgba(0,0,0,0.1);
  --color-text-secondary:rgba(0,0,0,0.5);
  --color-text-secondary-hover:rgba(0,0,0,0.9);
  --color-footer:#f3f2f0;
  --color-text-link-hover:#004182;
  --color-text-accent-2:#b24020;
  --color-input-border:rgba(0, 0, 0, 0.75);
  --color-button-hover:#004182;
  --color-text:rgba(0,0,0,0.9);
  --color-text-emphasis:rgba(0,0,0,0.6)
}